.DS_store
node_modules
.notes
.ipynb_checkpoints
notebooks/universidades/bin
notebooks/universidades/include
notebooks/universidades/lib
notebooks/universidades/uned/grados/universidad-nacional-de-educacion-a-distancia*.csv